nav {
   
    height: 98.5px;
    width: 76.52%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
    
   

    .logo{
        width: 10%;
        height: 45.4%;
        background-image: url(../images/logos/logo-black.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .links {
        height: 45.4%;
        width: 53.6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    
}

nav a {
    text-decoration: none;
    color: black;
}

